* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: 'Montserrat', sans-serif;
}

input {
    outline: none;
    border: none;
}

.heading {
    width: 80%;
}
.heading h1 {
    font-size: 2rem;
    font-weight: 400;
    color: black;
}
.logo{
    width: 60px;
}
.container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -55%);
    height: 130vh;
    background-color: azure;
    display: flex;
    box-shadow: 5px 10px 38px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

.image{
    width: 45%;
}
.img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.wrap{
    width: 80%;
    position: relative;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 13px;
}
.wrap2, .wrap3{
    display: flex;
    width: 80%;
    justify-content: center;
}
#male, #female{
    margin-top: 32px;
}
#checkbox1, #checkbox2, #checkbox3{
    margin-top: 25px;
}

.f1{
    border-bottom:2px solid #b2b2b2;
    width: 40%;
    position: relative;
}
.f2{
    border-bottom:2px solid #b2b2b2;
    width: 40%;
    position: relative;
}
label{
    font-size: 12px;
    color: #676767;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 25px;
    border-bottom: none;
    padding: 15px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom:2px;
}

input{
    display: block;
    width: 100%;
    font-size: 18px;
    background: transparent;
    color: #0f0f0f;
    font-weight: 500;
    padding: 10px 0px;
}
.btn {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background: #445a94;
    color: #fff;
    box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.2);
}
.btn:hover{
    background: blue;
    color: #fff;
}

.rst{
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background: indianred;
    color: #fff;
    box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.2);
}
.rst:hover{
    background: red;
    color: #fff;
}

/*animation*/
.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: deepskyblue;
}
input:focus + .focus-input::before {
    width: 100%;
}
.has-val.input + .focus-input::before{
    width: 100%;
}
input[type="number"]{
    overflow: hidden;
}
input::-webkit-input-placeholder{
    color: gainsboro;
}

/*responsive*/
@media(max-width:1250px){
    .container{
        width: 90%;
        height: 150vh !important;
    }
}
@media(max-width:768px){
    .container{
        width: 100%;
        height: 150vh !important;
        position: static;
        transform: translate(0,0);
    }
    form{
        width: 100%;
    }
    .image{
        display: none;
    }
}
@media(max-width:380px){
    .wrap3{
        display: inline;
    }
    label{
        padding: 0;
        margin-top: 0;
    }

    #male, #female{
    margin-top: 10px;
}
#checkbox1, #checkbox2, #checkbox3{
    margin-bottom: -20px;
}
}